@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.nav-link {
    color: black;
    height: 5rem;
}

.nav-link:hover {
    color: #0076e5;
    background-color: white;
    border-bottom: 3px solid #0076e5;
    border-radius: 0;
}

.card {
    border: 0;
    width: fit-content;
    background-color: #1c1c1c;
}

.card-img-top {
    height: 250px;
    width: 170px;
}

.card-img-top-big {
    width: 370px;
}

.card-text {
    color: white;
    text-transform: uppercase;
}

main {
    background-color: #1c1c1c;
}

.btn {
    border-radius: 0;
}

.hero {
    background-image: url(/public/images/jumbotron.jpg);
    height: 400px;
}

.badge {
    border: 1px solid #0076e5;
    border-radius: 0;
    background-color: #0076e5;
    font-size: 20px;
    position: absolute;
    top: 500px;
    left: 300px;
}

.bar {
    background-color: #0076e5;
    padding: 2rem;
    color: white;
}

.bar img {
    width: 20%;
}

footer {
    background-image: url(/public/images/footer-bg.jpg);
}

h4 {
    color: white;
}

a {
    text-decoration: none;
    color: #7c7d7d;
}

.grey-background {
    background-color: #2c2c2c;
}

.blue {
    color: #0076e5;
}

.btn {
    color: white;
    border-radius: 0;
}